<!--suppress ALL -->
<section class="ui-panel">
  <div class="ui-panel-title">
    您当前的位置：<a href="/statics/views/comments/list.html">留言管理</a> &gt; <a href="/statics/views/comments/list.html">留言列表</a>
  </div>
  <div class="ui-panel-search">
    <input type="text" class="keywords" placeholder="留言搜索"><button class="btn-search">搜索</button>
  </div>
  <div class="ui-panel-btn">
    <button class="btn-delete-all">批量删除</button>
  </div>
  <table class="panel-file-list">
    <thead>
      <tr>
        <th><input type="checkbox" name="allCheck"></th>
        <th>ID号</th>
        <th>用户名</th>
        <th>联系电话</th>
        <th>电子邮箱</th>
        <th>留言时间</th>
        <th>留言内容</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 001 </td>
        <td> 张三 </td>
        <td> 13387565502 </td>
        <td> 13387565502@163.com </td>
        <td> 2016-8-28 14:00:00</td>
        <td>
          <p>张三 2014-8-31 15:20 13000000000 admin@mail.com
            http://www.h-ui.net/Hui-4.22-comment.html</p>
        </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 001 </td>
        <td> 张三 </td>
        <td> 13387565502 </td>
        <td> 13387565502@163.com </td>
        <td> 2016-8-28 14:00:00</td>
        <td>
          <p>张三 2014-8-31 15:20 13000000000 admin@mail.com
            http://www.h-ui.net/Hui-4.22-comment.html</p>
        </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 001 </td>
        <td> 张三 </td>
        <td> 13387565502 </td>
        <td> 13387565502@163.com </td>
        <td> 2016-8-28 14:00:00</td>
        <td>
          <p>张三 2014-8-31 15:20 13000000000 admin@mail.com
            http://www.h-ui.net/Hui-4.22-comment.html</p>
        </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 001 </td>
        <td> 张三 </td>
        <td> 13387565502 </td>
        <td> 13387565502@163.com </td>
        <td> 2016-8-28 14:00:00</td>
        <td>
          <p>张三 2014-8-31 15:20 13000000000 admin@mail.com
            http://www.h-ui.net/Hui-4.22-comment.html</p>
        </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 001 </td>
        <td> 张三 </td>
        <td> 13387565502 </td>
        <td> 13387565502@163.com </td>
        <td> 2016-8-28 14:00:00</td>
        <td>
          <p>张三 2014-8-31 15:20 13000000000 admin@mail.com
            http://www.h-ui.net/Hui-4.22-comment.html</p>
        </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 001 </td>
        <td> 张三 </td>
        <td> 13387565502 </td>
        <td> 13387565502@163.com </td>
        <td> 2016-8-28 14:00:00</td>
        <td>
          <p>张三 2014-8-31 15:20 13000000000 admin@mail.com
            http://www.h-ui.net/Hui-4.22-comment.html</p>
        </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 001 </td>
        <td> 张三 </td>
        <td> 13387565502 </td>
        <td> 13387565502@163.com </td>
        <td> 2016-8-28 14:00:00</td>
        <td>
          <p>张三 2014-8-31 15:20 13000000000 admin@mail.com
            http://www.h-ui.net/Hui-4.22-comment.html</p>
        </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="ui-panel-plist">共 <span class="ui-list-record">2</span> 篇 页次：<span class="ui-curr-page">1</span>/<span class="ui-total-page">1</span> 页
    <span class="ui-page-num">20</span>篇/页 首页 上一页 下一页 尾页 转到第 <input type="text" class="ui-page-index" title="输入页码"> 页
    <button class="btn-jump" >跳转</button>
  </div>
</section>
