<section class="ui-panel">
  <div class="ui-panel-title">
    您当前的位置：<a href="/statics/views/comments/list.html">留言管理</a> &gt; <a href="/statics/views/comments/show.html">查看留言</a>
  </div>
  <div class="ui-panel-btn">
    <button class="btn-back">返回</button>
  </div>
  <div class="ui-panel-article">
    <ul class="edit-list">
      <li>
        <strong>用&ensp;户&ensp;名：</strong>
        <span> 张三 </span>
      </li>
      <li>
        <strong>联系电话：</strong>
        <span> 13387565502 </span>
      </li>
      <li>
        <strong>电子邮箱：</strong>
        <span> 13387565502@163.com </span>
      </li>
      <li>
        <strong>留言时间：</strong>
        <span> 2016年8月28日 14:00:00</span>
      </li>
      <li>
        <strong>留言内容：</strong>
        <div class="article-content">
          此处为相应栏目的内容<br>
          <p>
            深圳市国信通劳务派遣有限公司成立于2010年5月份，从最初的河南省商丘市民权县颜集乡政府职介所(2000年成立)到现在的深圳市国信通劳务派遣有限公司，</p>
          <p>
            再到昆山分公司的成立及河南各地办事处的相继成立，公司规模发展迅速。本公司是经劳动局、工商局批准注册的具有法人资格的合法劳务派遣有限公司，它是一家人力资源派遣、人力资源外包、劳务输出、业务介绍、就业指导、人才管理咨询代理为一体的人力资源公司，现公司也在积极拓展新兴业务，如人事代理、代缴保险、税务筹划、农民工大课堂等...<a href="#">[详细介绍]</a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
