<!--suppress ALL -->
<section class="ui-panel">
<div class="ui-panel-title">
  您当前的位置：<a href="/statics/views/text/list.html">文章管理</a> &gt; <a href="/statics/views/text/add.html">添加文章</a>
</div>
<div class="ui-panel-btn">
  <button class="btn-back">返回</button>
</div>
<div class="ui-panel-body">
  <form>
    <ul class="edit-list">
      <li>
        <strong>文章标题：</strong>
        <input type="text" class="text-title" name="title">
        <span> <span class="must">*</span> 必填 不可重复</span>
      </li>
      <li>
        <strong>所属栏目：</strong>
        <select class="belong-list" name="belong">
          <option>公司简介</option>
          <option>公司文化</option>
          <option>发展历程</option>
          <option>公司新闻</option>
          <option>行业新闻</option>
          <option>政策法规</option>
          <option>派遣知识</option>
          <option>劳务派遣</option>
          <option>招聘代理</option>
          <option>生产外包</option>
          <option>代缴社保</option>
          <option>招聘信息</option>
          <option>合作加盟</option>
          <option>联系我们</option>
          <option>网站公告</option>
        </select>
      </li>
      <li>
        <strong>文章来源：</strong>
        <input type="text" class="text-source" name="source">
        <span> 选填 </span>
      </li>
      <li>
        <strong>修改时间：</strong>
        <input type="text" class="text-change-time" name="time">
        <span> <span class="must">*</span> 必填</span>
      </li>
      <li>
        <strong>修&ensp;改&ensp;人：</strong>
        <input type="text" class="text-changer" name="changer">
        <span> <span class="must">*</span> 必填</span>
      </li>
      <li>
        <strong>正文内容：</strong>
        <textarea class="text-content" rows="10" placeholder="此处用富文本编辑器"></textarea>
      </li>
    </ul>
    <input type="submit" class="btn-save" value="保存">
    <input type="reset" class="btn-reset" value="重置">
  </form>
</div>
</section>
