<!--suppress ALL -->
<section class="ui-panel">
  <div class="ui-panel-title">
    您当前的位置：<a href="/statics/views/text/list.html">文章管理</a> &gt; <a href="/statics/views/text/list.html">文本管理</a>
  </div>
  <div class="ui-panel-search">
    <input type="text" class="keywords" placeholder="文章搜索"><button class="btn-search">搜索</button>
  </div>
  <div class="ui-panel-btn">
    <button class="btn-add">添加文章</button>
    <button class="btn-delete-all">批量删除</button>
  </div>
  <table class="panel-file-list">
    <thead>
      <tr>
        <th><input type="checkbox" name="allCheck"></th>
        <th>编号</th>
        <th>文章栏目</th>
        <th>文章标题</th>
        <th>文章来源</th>
        <th>修改时间</th>
        <th>修改人</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 1 </td>
        <td> 劳务派遣 </td>
        <td> 2016寒假工 </td>
        <td> 网站原创 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 2 </td>
        <td> 公司简介 </td>
        <td> 公司简介 </td>
        <td> 网站原创 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 3 </td>
        <td> 公司文化 </td>
        <td> 公司文化 </td>
        <td> 网站原创 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 4 </td>
        <td> 发展历程 </td>
        <td> 公司发展历程 </td>
        <td> 网站原创 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 5 </td>
        <td> 行业新闻 </td>
        <td> 【行业创新变革推动者】李天国：人力资源服务业创新需要 </td>
        <td> 互联网 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 6 </td>
        <td> 行业新闻 </td>
        <td> 人力资源管理进入“变革”时代 </td>
        <td> 互联网 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 7 </td>
        <td> 政策法规 </td>
        <td> 2016寒假工 </td>
        <td> 网站原创 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox" name="check"></td>
        <td> 8 </td>
        <td> 网站公告 </td>
        <td> 网站公告 </td>
        <td> 网站原创 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-show">查看</button>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="ui-panel-plist">共 <span class="ui-list-record">2</span> 篇 页次：<span class="ui-curr-page">1</span>/<span class="ui-total-page">1</span> 页
    <span class="ui-page-num">20</span>篇/页 首页 上一页 下一页 尾页 转到第 <input type="text" class="ui-page-index" title="输入页码"> 页
    <button class="btn-jump" >跳转</button>
  </div>
</section>
