<section class="ui-panel">
  <div class="ui-panel-title">
    您当前的位置：<a href="/statics/views/administrator/list.html">管理员</a> &gt; <a href="/statics/views/administrator/add.html">管理员添加</a>
  </div>
  <div class="ui-panel-btn">
    <button class="btn-back">返回</button>
  </div>
  <div class="ui-panel-body">
    <form>
      <ul class="edit-list">
        <li>
          <strong>管&ensp;理&ensp;员：</strong>
          <input type="text" class="text-title">
          <span> <span class="must">*</span> 必填 不可重复</span>
        </li>
        <li>
          <strong>性&emsp;&emsp;别：</strong>
          <input type="radio" name="ui-sex" value="男" id="man"><label for="man">男</label> &emsp;
          <input type="radio" name="ui-sex" value="女" id="woman"><label for="woman"> 女</label>
        </li>
        <li>
          <strong>密&emsp;&emsp;码：</strong>
          <input type="text" class="text-source">
          <span> 选填 </span>
        </li>
        <li>
          <strong>确认密码：</strong>
          <input type="text" class="text-change-time">
          <span> <span class="must">*</span> 必填</span>
        </li>
        <li>
          <strong>联系电话：</strong>
          <input type="text" class="text-changer">
          <span> <span class="must">*</span> 必填</span>
        </li>
        <li>
          <strong>邮&emsp;&emsp;箱：</strong>
          <input type="text" class="text-changer">
          <span> <span class="must">*</span> 必填</span>
        </li>
        <li>
          <strong>备&emsp;&emsp;注：</strong>
          <textarea class="text-content" rows="10" placeholder="此处用富文本编辑器"></textarea>
        </li>
      </ul>
      <input type="submit" class="btn-save" value="保存">
      <input type="reset" class="btn-reset" value="重置">
    </form>
  </div>
</section>