<!--suppress ALL -->
<section class="ui-panel">
  <div class="ui-panel-title">
    您当前的位置：<a href="/statics/views/administrator/list.html">管理员</a> &gt; <a href="/statics/views/administrator/password.html">密码修改</a></div>
  <div class="ui-panel-body">
    <form class="password-change">
      <table>
        <tbody>
          <tr>
            <td> 用户名：</td>
            <td><input type="text" class="user-name" placeholder="admin" name="name"></td>
            <td><span>用户名不能为空</span></td>
          </tr>
          <tr>
            <td>原密码：</td>
            <td><input type="password" class="old-password" name="oldPassword"></td>
            <td><span>原密码不能为空</span></td>
          </tr>
          <tr>
            <td>新密码：</td>
            <td><input type="password" class="new-password" name="newPassword"></td>
            <td><span>新密码不能为空</span></td>
          </tr>
          <tr>
            <td>确认新密码：</td>
            <td><input type="password" class="confirm-new-password" name="newPasswordAgain"></td>
            <td><span>密码确认不能为空</span></td>
          </tr>
        </tbody>
      </table>
      <input type="submit" value="确认">
      <input type="reset" value="重置">
    </form>
  </div>
</section>
