<!--suppress ALL -->
<section class="ui-panel">
  <div class="ui-panel-title">
    <h2>超级管理员<span>Admin</span>您好，欢迎您登陆国信通网站后台管理系统！</h2>
  </div>
  <div class="ui-panel-body">
    <div class="ui-panel-btn">
      <button class="btn-text">进入文章管理</button>
    </div>
    <table class="panel-file-list">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>编号</th>
          <th>文章栏目</th>
          <th>文章标题</th>
          <th>文章来源</th>
          <th>修改时间</th>
          <th>修改人</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td> 1</td>
          <td> 劳务派遣</td>
          <td> 2016寒假工</td>
          <td> 网站原创</td>
          <td> 2016年9月7日</td>
          <td> admin</td>
          <td>
            <button class="ui-panel-show">查看</button>
            <button class="ui-panel-edit">编辑</button>
            <button class="ui-panel-delete">删除</button>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td> 2</td>
          <td> 公司简介</td>
          <td> 公司简介</td>
          <td> 网站原创</td>
          <td> 2016年9月7日</td>
          <td> admin</td>
          <td>
            <button class="ui-panel-show">查看</button>
            <button class="ui-panel-edit">编辑</button>
            <button class="ui-panel-delete">删除</button>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td> 3</td>
          <td> 公司文化</td>
          <td> 公司文化</td>
          <td> 网站原创</td>
          <td> 2016年9月7日</td>
          <td> admin</td>
          <td>
            <button class="ui-panel-show">查看</button>
            <button class="ui-panel-edit">编辑</button>
            <button class="ui-panel-delete">删除</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="ui-panel-btn">
      <button class="btn-image">进入图片管理</button>
    </div>
    <table class="panel-file-list">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>编号</th>
          <th>图片栏目</th>
          <th>图片标题</th>
          <th>图片来源</th>
          <th>修改时间</th>
          <th>修改人</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox"></td>
          <td> 1</td>
          <td><img src="/assets/images/default/customer/customer-01.jpg"></td>
          <td> 合作客户</td>
          <td> 光宝集团</td>
          <td> 光宝集团</td>
          <td> 2016年9月7日</td>
          <td> admin</td>
          <td>
            <button class="ui-panel-edit">编辑</button>
            <button class="ui-panel-delete">删除</button>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td> 2</td>
          <td><img src="/assets/images/default/customer/customer-02.jpg"></td>
          <td> 合作客户</td>
          <td> 普联技术有限公司</td>
          <td> 普联技术有限公司</td>
          <td> 2016年9月7日</td>
          <td> admin</td>
          <td>
            <button class="ui-panel-edit">编辑</button>
            <button class="ui-panel-delete">删除</button>
          </td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td> 3 </td>
          <td><img src="/assets/images/default/customer/customer-03.jpg"></td>
          <td> 合作伙伴</td>
          <td> 比亚迪股份有限公司</td>
          <td> 比亚迪股份有限公司</td>
          <td> 2016年9月7日</td>
          <td> admin</td>
          <td>
            <button class="ui-panel-edit">编辑</button>
            <button class="ui-panel-delete">删除</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
