
<!--suppress ALL -->
<section class="ui-panel">
  <div class="ui-panel-title">
    您当前的位置：<a href="/statics/views/image/list.html">图片管理</a> &gt; <a href="/statics/views/image/add.html">添加图片</a>
  </div>
  <div class="ui-panel-btn">
    <button class="btn-back">返回</button>
  </div>
  <div class="ui-panel-body">
    <form>
      <ul class="edit-list">
        <li>
          <strong>图片标题：</strong>
          <input type="text" class="text-title" name="title">
          <span> <span class="must">*</span> 必填 不可重复</span>
        </li>
        <li>
          <strong>所属栏目：</strong>
          <select class="belong-list" name="belong">
            <option>公司资质</option>
            <option>合作用户</option>
            <option>Banner图片</option>
            <option>首页公司简介</option>
          </select>
        </li>
        <li>
          <strong>图片来源：</strong>
          <input type="text" class="text-source" name="source">
          <span> 选填 </span>
        </li>
        <li>
          <strong>修改时间：</strong>
          <input type="text" class="text-change-time" name="time">
          <span> <span class="must">*</span> 必填</span>
        </li>
        <li>
          <strong>修&ensp;改&ensp;人：</strong>
          <input type="text" class="text-changer" name="changer">
          <span> <span class="must">*</span> 必填</span>
        </li>
        <li>
          <strong>图片上传：</strong>
          <input type="file">
        </li>
      </ul>
      <input type="submit" class="btn-save" value="保存">
      <input type="reset" class="btn-reset" value="重置">
    </form>
  </div>
</section>
