<!--suppress ALL -->
<section class="ui-panel">
  <div class="ui-panel-title">
    您当前的位置：<a href="/statics/views/image/list.html">图片管理</a> &gt; <a href="/statics/views/image/list.html">图片列表</a>
  </div>
  <div class="ui-panel-search">
    <input type="text" class="keywords" placeholder="图片搜索"><button class="btn-search">搜索</button>
  </div>
  <div class="ui-panel-btn">
    <button class="btn-add">添加图片</button>
    <button class="btn-delete-all">批量删除</button>
  </div>
  <table class="panel-file-list">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>编号</th>
        <th>缩略图</th>
        <th>图片栏目</th>
        <th>图片标题</th>
        <th>图片来源</th>
        <th>修改时间</th>
        <th>修改人</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td> 1 </td>
        <td>
          <img src="/assets/images/default/customer/customer-01.jpg">
        </td>
        <td> 合作客户 </td>
        <td> 光宝集团 </td>
        <td> 光宝集团 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td> 2 </td>
        <td><img src="/assets/images/default/customer/customer-02.jpg"></td>
        <td> 合作客户 </td>
        <td> 普联技术有限公司 </td>
        <td> 普联技术有限公司 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td> 3 </td>
        <td><img src="/assets/images/default/customer/customer-03.jpg"></td>
        <td> 合作伙伴 </td>
        <td> 比亚迪股份有限公司 </td>
        <td> 比亚迪股份有限公司 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td> 4 </td>
        <td><img src="/assets/images/default/customer/customer-04.jpg"></td>
        <td> 合作伙伴 </td>
        <td> 恩斯迈电子（深圳）有限公司 </td>
        <td> 恩斯迈电子（深圳）有限公司 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td> 5 </td>
        <td><img src="/assets/images/default/customer/customer-05.gif"></td>
        <td> 合作伙伴 </td>
        <td> 仁宝集团 </td>
        <td> 仁宝集团 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td> 6 </td>
        <td><img src="/assets/images/default/customer/customer-06.gif"></td>
        <td> 合作伙伴 </td>
        <td> 伟创力集团 </td>
        <td> 伟创力集团 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td> 7 </td>
        <td><img src="/assets/images/default/banner/index/banner-1.png"></td>
        <td> Banner图片 </td>
        <td> Banner图片一 </td>
        <td> 网站原创 </td>
        <td> 2016年9月7日 </td>
        <td> admin </td>
        <td>
          <button class="ui-panel-edit">编辑</button>
          <button class="ui-panel-delete">删除</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="ui-panel-plist">共 <span class="ui-list-record">2</span> 篇 页次：<span class="ui-curr-page">1</span>/<span class="ui-total-page">1</span> 页
    <span class="ui-page-num">20</span>篇/页 首页 上一页 下一页 尾页 转到第 <input type="text" class="ui-page-index" title="输入页码"> 页
    <button class="btn-jump" >跳转</button>
  </div>
</section>
